<!DOCTYPE html>

<html>

<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div id="app">
        <main>

            {{>header}}
            <form>
                <div class="search-box">
                    <input class="search-bar" placeholder="Location">
                </div>
            </form>
            <div class="location-box">
                <div class='location'></div>
            </div><br>
            <div class="weather-box">
                <div class="weather">
                </div>
            </div>

        </main>
    </div>
</body>

<script src="/js/app.js"></script>

</html>